@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Gothic&family=Poppins:wght@300&display=swap");
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #37356d;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 100px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #262626;
}

body::-webkit-scrollbar-thumb {
  background-color: #5F5DA6;
  border-radius: 20px;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.page {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #5F5DA6;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px #00000050;
  width: 60%;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}

#profile {
  width: 200px;
  max-height: 250px;
  border-radius: 5px;
}

.text-space p {
  margin-left: 8px;
  margin-bottom: -8px;
}

.text-space h2,
.text-space ul,
.text-space i {
  margin-left: 8px;
}

.text-space h2 {
  margin-bottom: 0px;
}

.backSquare {
  position: absolute;
  user-select: none;
  z-index: 0;
  border-radius: 5%;
  opacity: 0.3;
  background-color: #262626;
}

#proyects {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

#proyects ul {
  position: relative;
  transform: skewY(-15deg);
  z-index: 1;
}

#proyects ul li {
  position: relative;
  list-style: none;
  width: 200px;
  background-color: #493963;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}

#proyects ul li::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  left: -40px;
  background-color: #3a2e4e;
  transform-origin: right;
  transform: skewY(45deg) translateY(-15px);
  transition: 0.5s;
}

#proyects ul li:hover::before, #proyects ul li:hover::after {
  background-color: #46447c;
}

#proyects ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: -40px;
  left: 0;
  background-color: #3a2e4e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

#proyects ul li:hover {
  background-color: #5F5DA6;
  transform: translateX(-20px);
}

#proyects ul li a {
  text-decoration: none;
  color: #eceaea;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

#proyects ul li:hover a {
  color: white;
}

#proyects ul li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

@keyframes appearSq-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(203deg);
  }
}
.sqAnim--1 {
  animation: appearSq-1 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(255deg);
  }
}
.sqAnim--2 {
  animation: appearSq-2 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(28deg);
  }
}
.sqAnim--3 {
  animation: appearSq-3 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-4 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(68deg);
  }
}
.sqAnim--4 {
  animation: appearSq-4 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-5 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(209deg);
  }
}
.sqAnim--5 {
  animation: appearSq-5 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-6 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(54deg);
  }
}
.sqAnim--6 {
  animation: appearSq-6 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-7 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(235deg);
  }
}
.sqAnim--7 {
  animation: appearSq-7 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-8 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(281deg);
  }
}
.sqAnim--8 {
  animation: appearSq-8 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-9 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(245deg);
  }
}
.sqAnim--9 {
  animation: appearSq-9 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-10 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(164deg);
  }
}
.sqAnim--10 {
  animation: appearSq-10 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-11 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(154deg);
  }
}
.sqAnim--11 {
  animation: appearSq-11 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-12 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(8deg);
  }
}
.sqAnim--12 {
  animation: appearSq-12 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-13 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(308deg);
  }
}
.sqAnim--13 {
  animation: appearSq-13 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-14 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(109deg);
  }
}
.sqAnim--14 {
  animation: appearSq-14 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-15 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(64deg);
  }
}
.sqAnim--15 {
  animation: appearSq-15 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-16 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(311deg);
  }
}
.sqAnim--16 {
  animation: appearSq-16 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-17 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(48deg);
  }
}
.sqAnim--17 {
  animation: appearSq-17 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-18 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(2deg);
  }
}
.sqAnim--18 {
  animation: appearSq-18 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-19 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(267deg);
  }
}
.sqAnim--19 {
  animation: appearSq-19 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-20 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(330deg);
  }
}
.sqAnim--20 {
  animation: appearSq-20 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-21 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(144deg);
  }
}
.sqAnim--21 {
  animation: appearSq-21 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-22 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(85deg);
  }
}
.sqAnim--22 {
  animation: appearSq-22 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-23 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(242deg);
  }
}
.sqAnim--23 {
  animation: appearSq-23 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-24 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(309deg);
  }
}
.sqAnim--24 {
  animation: appearSq-24 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-25 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(48deg);
  }
}
.sqAnim--25 {
  animation: appearSq-25 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-26 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(259deg);
  }
}
.sqAnim--26 {
  animation: appearSq-26 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-27 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(263deg);
  }
}
.sqAnim--27 {
  animation: appearSq-27 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-28 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(261deg);
  }
}
.sqAnim--28 {
  animation: appearSq-28 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-29 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(169deg);
  }
}
.sqAnim--29 {
  animation: appearSq-29 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-30 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(278deg);
  }
}
.sqAnim--30 {
  animation: appearSq-30 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-31 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(237deg);
  }
}
.sqAnim--31 {
  animation: appearSq-31 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-32 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(262deg);
  }
}
.sqAnim--32 {
  animation: appearSq-32 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-33 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(8deg);
  }
}
.sqAnim--33 {
  animation: appearSq-33 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-34 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(255deg);
  }
}
.sqAnim--34 {
  animation: appearSq-34 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-35 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(316deg);
  }
}
.sqAnim--35 {
  animation: appearSq-35 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-36 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(92deg);
  }
}
.sqAnim--36 {
  animation: appearSq-36 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-37 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(191deg);
  }
}
.sqAnim--37 {
  animation: appearSq-37 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-38 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(306deg);
  }
}
.sqAnim--38 {
  animation: appearSq-38 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@keyframes appearSq-39 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) rotate(11deg);
  }
}
.sqAnim--39 {
  animation: appearSq-39 2s ease-in-out 0s 1 alternate;
  animation-fill-mode: both;
}

@media screen and (max-width: 1200px) {
  .page {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
