@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Gothic&family=Poppins:wght@300&display=swap');

$bg: #403e7e;
$light-bg: #5F5DA6;
$middle-c: #8F8EBF;
$light-dark: #493963;
$dark: #262626;
$text: white;


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: $bg;
  color: $text;
  font-family: 'Poppins', sans-serif;
  padding: 100px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;               
}

body::-webkit-scrollbar-track {
  background: $dark;        
}

body::-webkit-scrollbar-thumb {
  background-color: $light-bg;    
  border-radius: 20px;       

}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.page {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: $light-bg;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px #00000050;
  width: 60%;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}

#profile {
  width: 200px;
  max-height: 250px;
  border-radius: 5px;

}

.text-space p {
  margin-left: 8px;
  margin-bottom: -8px;
}

.text-space h2,
.text-space ul,
.text-space i {
  margin-left: 8px;
}

.text-space h2 {
  margin-bottom: 0px;
}

//menu variables and classes
$tran-time:0.5s;
$menu-w:40px;
#proyects {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  gap: 2vw;
}

#proyects ul {
  position: relative;
  transform: skewY(-15deg);
  z-index: 1;
}

#proyects ul li {
  position: relative;
  list-style: none;
  width: 200px;
  background-color: $light-dark;
  padding: 15px;
  z-index: var(--i); 
  transition: $tran-time;
  cursor: pointer;
  color: rgb(236, 234, 234);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  user-select: none;
}


#proyects ul li::before{
  content: '';
  position: absolute;
  width: $menu-w;
  height: 100%;
  left: -$menu-w;
  background-color: #3a2e4e;
  transform-origin: right;
  transform: skewY(45deg) translateY(-15px);
  transition: $tran-time;

}
#proyects ul li::after{
  content: '';
  position: absolute;
  width: 100%;
  height: $menu-w;
  top: -$menu-w;
  left: 0;
  background-color: #3a2e4e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: $tran-time;
  
}

#proyects ul li:hover::before, #proyects ul li:hover::after{
  background-color: #57549e;

}
#proyects ul li:hover{
  background-color: $light-bg;
  transform: translateX(-20px);
  color: $text;
}
#proyects ul li:last-child::after{
  box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

#title{
  //override list styles
  transform: translateY(-80px) !important; 
  cursor: default !important;
}

#tv {
  position: relative;
  transform: skewY(15deg);
  width: 35vw;
  height: auto;
  background-color: $light-dark;
  padding: 40px;
  z-index: 3; 
}


#tv::before{
  content: '';
  position: absolute;
  width: 35px;
  height: 100%;
  background-color: #3a2e4e;
  transform-origin: left;
  top:0;
  right: -35px;
  transform: skewY(-45deg);
}
#tv::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 35px;
  top: -35px;
  left: 0;
  background-color: #3a2e4e;
  transform-origin: bottom;
  transform: skewX(-45deg) ;
}

#bar {
  position: relative;
  transform: skewY(15deg);
  width: 80px;
  height: 35px;
  background-color: #46375f;
  z-index: 2; 
  user-select: none;
}


#bar::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #413358;
  transform-origin: left;
  top:0;
  right: -30px;
  transform: skewY(-45deg);
  z-index: 0;
}

#base {
  position: relative;
  transform: skewY(15deg);
  width: 140px;
  height: 20px;
  top:20px;
  left: -25px;
  background-color: #46375f;
  z-index: 1; 
  user-select: none;
}


#base::before{
  content: '';
  position: absolute;
  width: 70px;
  height: 100%;
  background-color: #3f3155;
  transform-origin: left;
  top:0;
  right: -70px;
  transform: skewY(-45deg);
  z-index: 0;
}
#base::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 70px;
  top: -70px;
  left: 0;
  background-color: #3a2e4e;
  transform-origin: bottom;
  transform: skewX(-45deg) ;
  z-index: 0;
}
#pimg{
  width: 100%;
  margin-bottom: -8px;
  height: 20vw;
  user-select: none;
}
#proyect div{
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 1s;
}

#proyect{
  width: 100%;
  height: 100%;
  background-color: black;
  user-select: none;
}
#proyect::before{
  content: '';
  position: absolute;
  width: 5px;
  height: calc(100% - 75px);
  background-color: #3a2e4e;
  transform-origin: right;
  transform: translateX(-5px);
}
#proyect::after{
  content: '';
  position: absolute;
  width: calc(100% - 80px);
  height: 5px;
  top: calc(100% - 40px);
  right: 40px;
  background-color: #3a2e4e;
  transform-origin: top;
}

//-------------

//background squares
.backSquare {
  position: absolute;
  user-select: none;
  z-index: 0;
  border-radius: 5%;
  opacity: 0.3;
  background-color: $dark;
}

@for $i from 1 to 40 {
  $rotate: random(360);

  @keyframes appearSq-#{$i} {
    0% {
      transform: scale(0);
    }

    100% {
      transform:scale(1) rotate(#{$rotate}deg);

    }
  }

  .sqAnim--#{$i} {
    animation: appearSq-#{$i} 2s ease-in-out 0s 1 alternate;
    animation-fill-mode: both;
  }
}
//-----------------

@media screen and (max-width: 1200px) {
  .page {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .page{
    width: 100%;
    flex-direction: column;
  }

}
@media screen and (max-width: 500px) {
  #proyects {
    flex-direction: column;
    gap: 100px;
  }
  body{
    padding: 10px;
  }
}